{% extends 'base.html.twig' %}

{% block body %}
    <h1>File edit</h1>
{% include '@BisonLabSakonnin/SakonninFile/_edit.html.twig' %}

{{ form_start(delete_form) }}
<button type="submit" class="btn-small btn-danger">Delete</button>
{{ form_end(delete_form) }}
{% endblock %}
