<div class="modal fade" id="sakonninModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="sakonninModalTitle"></h4>
        <button type="button" class="close" data-dismiss="modal"><span class="fas fa-times-circle"></span></button>
      </div>
      <div class="modal-body">
            <div id="sakonninModalBody">
            </div>
      </div>
    </div>
  </div>
</div>

<div id="SakonninImageModal" class="modal imageModal">
  <!-- The Close Button -->
  <span class="imageModalClose" id="modalImageClose"><span class="fas fa-times-circle"></span></span>
  <!-- Modal Content (The Image) -->
  <img class="imageModalContent" id="modalImageContent">
  <!-- Modal Caption (Image Text) -->
  <div id="modalImageCaption"></div>
</div>
