
.messageText
{
    background-color: #fefcc7;
    border-color: #fefcc7;
}

.messageTable td
{
    padding-left: 10px;
}

.messageRemoveGlyph:after {
    font-size: 15px;
    margin-left: 10px;
    color: red;
    font-family: 'Glyphicons Halflings';
    content: "\e088";
}

.messageEditGlyph:after {
    font-size: 15px;
    margin-left: 10px;
    color: black;
    font-family: 'Glyphicons Halflings';
    content: "\270f";
}

.messageArchiveGlyph:after {
    font-size: 15px;
    margin-left: 10px;
    color: black;
    font-family: 'Glyphicons Halflings';
    content: "\e202";
}

/* The switch - the box around the slider */
.messageSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}
/* Hide default HTML checkbox */
.messageSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.messageSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.messageSlider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 20px;
  left: 2px;
  top: 2px;
  bottom: 2px;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .messageSlider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .messageSlider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: green;
}

/* Rounded sliders */
.messageSlider.round {
  border-radius: 34px;
}

.messageSlider.round:before {
  border-radius: 50%;
}
