/* 
 * Table stuff
 */

table.sakonnin_properties {
    text-align: left;
}

table.sakonnin_properties th {
    padding: 4px;
    margin-bottom: 5px;
    width: 20%;
}

table.sakonnin_properties td {
    padding: 4px;
    vertical-align: top;
    margin-bottom: 5px;
}

/* 
 * Notes can have postit colour
 */
.noteText
{
    background-color: #fffaad;
    border-color: #fffaad;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.messageText
{
    background-color: lightgrey;
    border-color: lightgrey;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.messageTable td
{
    padding-left: 10px;
}

/* The switch - the box around the slider */
.checkSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}
/* Hide default HTML checkbox */
.checkSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.checkSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #cccccc;
}

.checkSlider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 19px;
  left: 2px;
  top: 1px;
  bottom: 1px;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .checkSlider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .checkSlider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: green;
}

/* Rounded sliders */
.checkSlider.round {
  border-radius: 34px;
}

.checkSlider.round:before {
  border-radius: 50%;
}

/*
 * Image modal, move to Sakonnin later.
 */
.imageThumb {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.imageModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 90px; /* Location of the box */
  left: 0;
  top: 90px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.imageModalContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#modalImageCaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.imageModalContent, #modalImageCaption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.imageModalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.imageModalClose:hover,
.imageModalClose:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .imageModalContent {
    width: 100%;
  }
}
