<script type="text/javascript">
{# Not sure bootstrap modal works here.
jQuery(document).ready(function() {
    $( "#messagelogbox" ).dialog({
      autoOpen: false,
      height: 700,
      width: 600,
      modal: true
    });
});
#}

function openMessageLogBox(url) {
    $( "#messagelogbox" ).module();
{# There will be more options #}
{% if context is defined %}
    url = "{{ path('message_context_search', {'access': 'ajax', 'system': context.system, 'object_name': context.object_name, 'external_id': context.external_id }) }}";
{% endif %}
    $.get(
        url, 
        function( data ) {
            $( "#messagelogcontent" ).html(data);
        },
        null,
        'html'
    );
    return false;
}

</script>

<div class="modal fade" id="messagelogbox" role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Messages</h4>
            <div id="messagelogcontent">
            </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
