{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message edit</h1>
{% include '@BisonLabSakonnin/Message:_edit.html.twig' %}
{% if delete_form %}
  {{ form_start(delete_form) }}
      <input type="submit" value="Delete">
  {{ form_end(delete_form) }}
{% endif %}
{% endblock %}
