{% extends 'BisonLabSakonninBundle::base.html.twig' %}

{% block body -%}
    <h1>Message list</h1>
{% include 'BisonLabSakonninBundle:Message:_index.html.twig' with { 'entities': entities }  %}
    {% endblock %}
