{% extends 'base.html.twig' %}

{% block body %}
{% if message.messagetype is not null %}
    <h1>{{ message.messagetype.name }}</h1>
{% else %}
    <h1>Write a message</h1>
{% endif %}
{% include 'BisonLabSakonninBundle:Message:_new.html.twig' %}
{% endblock %}
