{% extends 'BisonLabSakonninBundle::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.messagetype }}</h1>
{% include 'BisonLabSakonninBundle:Message:_show.html.twig' with { 'entity': entity }  %}
{% endblock %}
